<html>
  <head>
    <title>React Boilerplate</title>
    <meta charset="UTF-8">
    <meta name="robots" content="nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Language" content="en_US">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  </head>
  <noscript>
    <p>Sorry, this site requires <b>JavaScript</b>. Please enable JavaScript in your browser's preferences settings!</p>
  </noscript>
  <body>
    <div id="mount"></div>
    <script src="<%= htmlWebpackPlugin.files.chunks.app.entry %>"></script>
    <script src="<%= htmlWebpackPlugin.files.chunks.vendor.entry %>"></script>
  </body>
</html>